body{
   margin: 0;
   padding: 0;
  background: url(./pink\ field.jpg)center/cover fixed no-repeat;
}
.tec{
   word-spacing: 3px;
   float: right;
   padding: 20px 0;
   margin: 13px 0;
   font-size: 25px;
   margin-right: 7px;
   text-transform: capitalize;
}
a{
   text-decoration: none;
   border: 2px solid white;
   transition-property: background;
   transition-duration: 0.6s;
   color: white;
}
a:hover{
   background: white;
   color: black;
}
.one{
   border: solid orange;
   height: 90px;
   background-color: black;
   background-attachment: fixed;
}
.o{
   padding: 20px 0;
   margin: 13px 0;
   font-size: 50px;
   color: red;
   font-family: fantasy;
   width: 7vw;
   height: 7vh;
   margin-left: 30px;
   text-transform: uppercase
}
.love{
   text-align: center;
   font-size: 70px;
   font-family: fantasy;
   border: 2px solid orange;
   background-color: orangered;
   text-transform: uppercase;
}
h3{
 text-align: center;
 font-size: 50px; 
 font-family: fantasy;
 border: 2px solid orange;
 background-color: black;
 text-transform: capitalize;
 color: red;

}
h4{
   text-align: center;
   font-size: 30px;
   color: black;
}
.two{
   background: url(./green\ field.jpg)center/cover fixed no-repeat;
}
.three{
   background: url(./yellow\ field.jpg)center/cover fixed no-repeat;
}
.four{
   background: url(./mike.jpg)center/cover fixed no-repeat;
}

