body{
   margin: 0;
   padding: 0;
   background: url(./25.jpg) no-repeat;
   background-size: cover;
   text-align: center;
   cursor: pointer;
   overflow: hidden;
   background-position: center;
   top: 50%;
   left: 50%;

}
.log{
   font-size: 60px;
   font-family: fantasy;
   margin: 50px;
   padding: 13px 0;
   border-bottom: 4px solid white 0.5;
}
.text{
 margin: 30px;
 border-bottom: 1px solid white 0.5;

}
.box{
   margin: 10px;
   border-bottom: 1px solid white 0.5;
}
.btn{
   font-size: 20px;
   font-family: sans-serif;
   border-bottom: 1px solid white 0.5;


}
