body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start;
}
.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.one {
  background-color: violet;
}

.two {
  background-color: steelblue;
}
.three {
  background-color: tomato;
}

.four {
  background-color: teal;
}
